@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Departments";
    Layout = "_Layout";
}


<nav style="--bs-breadcrumb-divider: '>'; float: right" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Departments</li>
    </ol>
</nav>

<h1>DEPARTMENTS</h1>
<hr>

<table id="departments-table" class="ui celled table nowrap table-hover table-striped display" style="width:100%">
    <thead>
    <tr>
        <th>No.</th>
        <th>Department</th>
        <th>Branch</th>
        <th>Description</th>
        <th>No. of Offices</th>
        <th>Action</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>No.</th>
        <th>Department</th>
        <th>Branch</th>
        <th>Description</th>
        <th>No. of Offices</th>
        <th>Action</th>
    </tr>
    </tfoot>
</table>

@section Scripts {
    <script src="~/js/security/department/get.all.departments.dt.js"></script>
    <script src="~/js/security/department/delete.department.js"></script>
    <script src="~/js/security/department/count.department.offices.js"></script>

}