<div class="chat-box">
    
    @*<div class="chat-message p-3 rounded chat-most-recent">
        <a href="#" target="_blank" class="fw-bold">John Doe</a>
        <small class="text-muted ms-2">37 seconds ago</small>
        <p class="mb-0">
            Hello, how are you? I hope you're doing well. I'm here to assist you with the purchase requisition form.
        </p>
        <span class="badge bg-light chat-step-name">
            Approve Purchase Requisition Request
        </span>
        <span class="badge bg-success text-white chat-step-action">
            Approved
        </span>
        <a href="#" class="badge text-primary bg-light chat-step-attachment" title="Payment Profoma Invoice - Quantum Metals Enterprise Limited - Kitwe.pdf" data-bs-toggle="modal" data-bs-target="#fileModal" data-file="Payment Profoma Invoice - Quantum Metals Enterprise Limited - Kitwe.pdf">
            <i class="fa fa-paperclip text-primary"></i> Payment Profoma Invoice - Quantum Metals Enterprise Limited - Kitwe.pdf
        </a>
        <a href="#" class="badge text-primary bg-light chat-step-attachment" title="Screen Shot 22-03-2030.png" data-bs-toggle="modal" data-bs-target="#fileModal" data-file="Screen Shot 22-03-2030.jpg">
            <i class="fa fa-paperclip text-primary"></i> Screen Shot 22-03-2030.jpg
        </a>
        <a href="#" class="badge text-primary bg-light chat-step-attachment" title="Purchase Requisition Form.pdf" data-bs-toggle="modal" data-bs-target="#fileModal" data-file="Purchase Requisition Form.pdf">
            <i class="fa fa-paperclip text-primary"></i> Purchase Requisition Form.pdf
        </a>
    </div>
    <div class="chat-message p-3 rounded">
        <a href="#" target="_blank" class="fw-bold">Jane Smith</a>
        <small class="text-muted ms-2">2 minutes ago</small>
        <p class="mb-0">
            I'm good, thanks! How about you? I need your help with the purchase requisition form. Can you please review it and provide feedback? We need to submit it today. Make sure you get back to me as soon as possible. Thanks!
        </p>
        <span class="badge bg-light chat-step-name">
            Review Purchase Requisition Request
        </span>
        <span class="badge bg-warning text-white chat-step-action">
            Sent Back
        </span>
    </div>
    <div class="chat-message p-3 rounded">
        <a href="#" target="_blank" class="fw-bold">Adam Mark</a>
        <small class="text-muted ms-2">12 minutes ago</small>
        <p class="mb-0">
            Thanks for asking! How can I help you today? We need to discuss the purchase requisition form. It's urgent. Can you please approve it?
        </p>
        <span class="badge bg-light chat-step-name">
            Initiate Purchase Requisition Request
        </span>
        <span class="badge bg-success text-white chat-step-action">
            Approved
        </span>
    </div>
    <div class="chat-message p-3 rounded">
        <a href="#" target="_blank" class="fw-bold">Josh Banda</a>
        <small class="text-muted ms-2">2 hours ago</small>
        <p class="mb-0">
            All well, thanks! How about you?
        </p>
        <span class="badge bg-light chat-step-name">
            Approve Purchase Requisition Request
        </span>
        <span class="badge bg-warning text-white chat-step-action">
            Sent Back
        </span>
    </div>
    <div class="chat-message p-3 rounded">
        <a href="#" target="_blank" class="fw-bold">Ruth Bwalya</a>
        <small class="text-muted ms-2">19 hours ago</small>
        <p class="mb-0">
            All well, thanks! How about you? I need your help with the purchase requisition form. Can you please review it and provide feedback? We need to submit it today. Make sure you get back to me as soon as possible. Thanks!
        </p>
        <span class="badge bg-light chat-step-name">
            Approve Purchase Requisition Request
        </span>
        <span class="badge bg-danger text-white chat-step-action">
            Rejected
        </span>
    </div>
    <div class="chat-message p-3 rounded">
        <a href="#" target="_blank" class="fw-bold">Hector Mwale</a>
        <small class="text-muted ms-2">2 days ago</small>
        <p class="mb-0">
            I'm good, thanks! How about you?
        </p>
        <span class="badge bg-light chat-step-name">
            Approve Purchase Requisition Request
        </span>
        <span class="badge bg-warning text-white chat-step-action">
            Sent Back
        </span>
    </div>
    <div class="chat-message p-3 rounded">
        <a href="#" target="_blank" class="fw-bold">John Doe</a>
        <small class="text-muted ms-2">5 weeks ago</small>
        <p class="mb-0">
            Hello, how are you? I hope you're doing well. I'm here to assist you with the purchase requisition form.
        </p>
        <span class="badge bg-light chat-step-name">
            Approve Purchase Requisition Request
        </span>
        <span class="badge bg-danger text-white chat-step-action">
            Rejected
        </span>
    </div>
    <div class="chat-message p-3 rounded">
        <a href="#" target="_blank" class="fw-bold">Sandra Smith</a>
        <small class="text-muted ms-2">8 months ago</small>
        <p class="mb-0">
            I'm good, thanks! How about you? I need your help with the purchase requisition form. Can you please review it and provide feedback? We need to submit it today. Make sure you get back to me as soon as possible. Thanks!
        </p>
        <span class="badge bg-light chat-step-name">
            Approve Purchase Requisition Request
        </span>
        <span class="badge bg-success text-white chat-step-action">
            Approved
        </span>
    </div>*@
    
</div>
<div class="chat-footer row">
    <div class="col-lg-12 mt-2">
        <div class="input-group">
            <textarea class="form-control" name="comment" placeholder="Type your comment here..." rows="3"></textarea>
            <button class="btn bg-transparent border-dark rounded" type="button" id="fileUploadButton" title="Upload Files">
                <i class="fa fa-paperclip"></i>
            </button>
            <input type="file" id="wkf-comment-files" class="d-none" name="wkf-comment-files" multiple accept=".png,.jpg,.jpeg,.pdf">
        </div>
    </div>
    <div class="col-lg-12 mt-2" id="filePreviewContainerImage">
        <!-- Preview tiles will be appended here -->
    </div>
    <div class="col-lg-12 mt-2" id="filePreviewContainerPdf">
        <!-- Preview tiles will be appended here -->
    </div>
</div>