@{
    ViewData["Title"] = "Not Found";
}

<h1>Resource Not Found</h1>

<p>
    <strong class="text-danger">@ViewBag.ErrorMessage</strong>
</p>

<a asp-controller="Home" asp-action="Index">
    <p>Click here to navigate to the Home Page</p>
</a>