@model zamren_management_system.ViewModels.SystemErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error @Model.StatusCode.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>Status Code:</strong> <code>@Model.StatusCode</code>
</p>