@page
@* @using Microsoft.Extensions.Configuration *@
@using Microsoft.Extensions.Configuration
@model ExpiredPasswordModel
@{
    ViewData["Title"] = "Reset Expired password";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Your password has expired. An email has been sent to you with a link to reset your password.</p>
</header>