@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Processes";
    Layout = "_Layout";
}


<nav style="--bs-breadcrumb-divider: '>'; float: right" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Processes</li>
    </ol>
</nav>

<h1>WORKFLOW PROCESSES</h1>
<hr>

<table id="processes-table" class="ui celled table nowrap table-hover table-striped display" style="width:100%">
    <thead>
    <tr>
        <th>No.</th>
        <th>Process</th>
        <th>Module</th>
        <th>No. of Steps</th>
        <th>Action</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>No.</th>
        <th>Process</th>
        <th>Module</th>
        <th>No. of Steps</th>
        <th>Action</th>
    </tr>
    </tfoot>
</table>

@section Scripts {
    <script src="~/js/workflow/process/get.all.processes.dt.js"></script>
    <script src="~/js/workflow/process/delete.process.js"></script>
    <script src="~/js/workflow/process/count.process.steps.js"></script>
}